@model EventManagerADV.Models.Event

<h1>Details van evenement</h1>

<div>
    <h4>Evenement</h4>
    <dl class="row">
        <dt class="col-sm-2">Naam</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Categorie</dt>
        <dd class="col-sm-10">@Model.Category?.Name</dd>

        <dt class="col-sm-2">Datum</dt>
        <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>

        <dt class="col-sm-2">Vrijwilligers</dt>
        <dd class="col-sm-10">
            @foreach (var volunteer in Model.EventVolunteers.Select(ev => ev.Volunteer))
            {
                    <span>@volunteer.Name</span>

                <br />
            }
        </dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Bewerken</a>
<a asp-action="Index" class="btn btn-secondary">Terug naar overzicht</a>
