@model IEnumerable<EventManagerADV.Models.Event>

<h1>Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Categorie</th>
            <th>Datum</th>
            <th>Vrijwilligers</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Category?.Name</td>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>
                    @foreach (var volunteer in item.EventVolunteers.Select(ev => ev.Volunteer))
                    {
                                <span>@volunteer.Name</span>

                        <br />
                    }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Nieuw evenement</a>
